{% extends 'base.html' %}

{% block title %} Delete List {% endblock title %}
{% block content %} 
<header>
    <nav>
    </nav>
</header>
<main>
    <div>
        <h1>Are You Sure?</h1>
            <form method="post">
            {% csrf_token %}
            <button>Delete</button>
        </form>
    </div>
    
</main>





{% endblock content %}