{% extends 'base.html' %}

{% block title %} {{ todo_list_object.name }} {% endblock title %}
<!--the title is going to be the unique name of the list they're looking at-->

{% block content %} 
<main>
    <div>
        <h1> {{ todo_list_object.name }} </h1>
        <p><a href={% url "todo_list_update"  todo_list_object.id %} >Edit</a></p>
        <p><a href={% url "todo_list_delete"  todo_list_object.id %} >Delete</a></p>
        <h2>Tasks</h2>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                {% for contents in todo_list_object.items.all %}
<!--remember the *context name* that is in quotes of the view function is what we use!
#the .items is because in our model.py we use related name "items" for the list-->
                <tr>
                    <td><a href={% url "todo_item_update" contents.id %}> {{ contents.task }} </a></td>
                    <td> {{ contents.due_date }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>


{%  endblock content%}