{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <p><a href="{% url "todo_list_list" %}"">Home</a></p>
    <title>{% block title %} {% endblock title %}</title>
</head>
<body>
    {% block content %} {% endblock content %}
</body>
</html>